ENV=dev

# API GENERAL
API_NAME=go-scheduler-trigger-api
API_PORT=8080
API_REST_HOST=rest
API_TAG_VERSION=0.0.4
API_METRICS_ENABLED=false
GIN_MODE=release

## SHADOWKEY_IN_MEMORY
SHADOWKEY_IN_MEMORY_STRATEGY=redis                        ### redis
SHADOWKEY_IN_MEMORY_HOST=redis                            ### local: localhost | conteinerized: redis
SHADOWKEY_IN_MEMORY_PORT=6379
SHADOWKEY_IN_MEMORY_PASSWORD=
SHADOWKEY_IN_MEMORY_DB=0
SHADOWKEY_IN_MEMORY_PROTOCOL=3
SHADOWKEY_IN_MEMORY_EXPIRATION_DEFAULT_IN_MS=0ms           ### 0 forever
SHADOWKEY_MAX_RETRIES=1000
SHADOWKEY_MIN_RETRY_BACKOFF_IN_MS=100ms
SHADOWKEY_MAX_RETRY_BACKOFF_IN_S=2s
SHADOWKEY_DIAL_TIMEOUT_IN_S=5s
SHADOWKEY_READ_TIMEOUT_IN_S=3s
SHADOWKEY_WRITE_TIMEOUT_IN_S=3s
SHADOWKEY_POOL_SIZE=10
SHADOWKEY_MIN_IDDLE_CONNS=2

## PUBSUB
### if redis strategy, use same parameters of TRIGGER_IN_MEMORY redis
PUBSUB_STRATEGY=redis                                ### redis
PUBSUB_HOST=redis                                    ### local: localhost | conteinerized: redis
PUBSUB_PORT=6379
PUBSUB_PASSWORD=
PUBSUB_DB=1
PUBSUB_PROTOCOL=3

## TRIGGER_IN_MEMORY
TRIGGER_IN_MEMORY_STRATEGY=redis                     ### redis
TRIGGER_IN_MEMORY_HOST=redis                         ### local: localhost | conteinerized: redis
TRIGGER_IN_MEMORY_PORT=6379
TRIGGER_IN_MEMORY_PASSWORD=
TRIGGER_IN_MEMORY_DB=1
TRIGGER_IN_MEMORY_PROTOCOL=3
TRIGGER_IN_MEMORY_EXPIRATION_DEFAULT_IN_MS=0ms        ### 0 forever
TRIGGER_MAX_RETRIES=1000
TRIGGER_MIN_RETRY_BACKOFF_IN_MS=100ms
TRIGGER_MAX_RETRY_BACKOFF_IN_S=2s
TRIGGER_DIAL_TIMEOUT_IN_S=5s
TRIGGER_READ_TIMEOUT_IN_S=3s
TRIGGER_WRITE_TIMEOUT_IN_S=3s
TRIGGER_POOL_SIZE=10
TRIGGER_MIN_IDDLE_CONNS=2

## MAIL_NOTIFICATION
MAIL_NOTIFICATION_IS_DEVELOPMENT_ENV=true
MAIL_NOTIFICATION_SMTP_USER=user@scheduler_trigger.com
MAIL_NOTIFICATION_SMTP_PASSWORD=pwd
MAIL_NOTIFICATION_EMAILS_FROM_EMAIL=noreply@scheduler_trigger.com
MAIL_NOTIFICATION_SMTP_PORT=465
MAIL_NOTIFICATION_SMTP_HOST=stunnel
MAIL_NOTIFICATION_EMAILS_FROM_NAME=No reply
MAIL_NOTIFICATION_MAIL_TLS=true